.production{
  background: #E5E5E5;
  padding-top: clamp(32px, 4vw, 61px);
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 800px) {
  .production {
    align-items: center;
  }
}
