.variant {
  background: #F4F3E4;
  padding-top: clamp(32px, 4vw, 75px);
  padding-bottom: 83px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 800px) {
  .variant {
    align-items: center;
  }
}

.variant__content{
  margin-left: 10px;
}
@media screen and (min-width: 800px) {
  .variant__content{
    margin-left: 0;
  }
}

.variant__container{
  display: flex;
  flex-direction: column;
  margin-bottom: clamp(19px, 5vw, 150px);
}
@media screen and (min-width: 800px) {
  .variant__container{
    flex-direction: row;
    margin-bottom: clamp(19px, 10vw, 174px);
  }
}

.variant__detail{
}
@media screen and (min-width: 800px) {
  .variant__detail{
    margin-top: 8px;
  }
}

.variant__images{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.variant__img{
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
