.variant {
  background: #F4F3E4;
  padding-top: clamp(32px, 4vw, 75px);
  padding-bottom: 59px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 800px) {
  .variant {
    align-items: center;
  }
}
