.header{
  display: flex;
  justify-content: space-between;
  background: #1D1D1D;
  min-width: 100%;
  margin-top: clamp(10px, 3vw, 18px);

}
@media screen and (min-width: 800px) {
  .header{
    align-items: center;
    margin-bottom: clamp(1px, 0.65vw, 12px);
    max-width: 1150px;
    min-width: 800px;
    width: 90%;
  }
}


