.advantages__card_border{
  background: #D7B56D;
  border-radius: 1px;
  width: 100%;
  height: 4px;
}
@media screen and (min-width: 800px) {
  .advantages__card_border{
    height: 6px;
    margin-bottom: 2px;
  }
}
