.variant__card {
  display: flex;
  position: relative;
  font-size: clamp(14px, 1.2vw, 20px);
  line-height: 120%;
  color: #FFFFFF;
}
@media screen and (min-width: 800px) {
  .variant__card {
    line-height: 130%;
  }
}
