.variant__card {
  display: flex;
  position: relative;
  font-size: clamp(14px, 1.2vw, 20px);
  line-height: 120%;
  color: #FFFFFF;
}
@media screen and (min-width: 800px) {
  .variant__card {
    line-height: 130%;
  }
}

.variant__card_type_state{
  grid-area: state;
}
@media screen and (min-width: 800px) {
  .variant__card_type_state {
    font-size: clamp(14px, 1.5vw, 24px);
  }
}

.variant__card_type_child {
  grid-area: child;
}
@media screen and (min-width: 800px) {
  .variant__card_type_child{
    font-size: clamp(14px, 1.5vw, 24px);
  }
}

.variant__card_type_medical {
  grid-area: medical;
}
@media screen and (min-width: 800px) {
  .variant__card_type_medical{
    font-size: clamp(14px, 1.5vw, 24px);
  }
}

.variant__card_type_trading {
  grid-area: trading;
}
@media screen and (min-width: 800px) {
  .variant__card_type_trading{
    font-size: clamp(14px, 1.5vw, 24px);
  }
}

.variant__card_type_office {
  grid-area: office;
}
@media screen and (min-width: 800px) {
  .variant__card_type_office{
    font-size: clamp(10px, 1.2vw, 18px);
  }
}

.variant__card_type_room {
  grid-area: room;
}
@media screen and (min-width: 800px) {
  .variant__card_type_room{
    font-size: clamp(8px, 1vw, 18px);
  }
}
.variant__card_type_storage{
  grid-area: storage;
}
@media screen and (min-width: 800px) {
  .variant__card_type_storage{
    font-size: clamp(10px, 1.1vw, 20px);
  }
}

.variant__card_type_kitchen {
  grid-area: kitchen;
}

.variant__card_type_soft {
  grid-area: soft;
}
