.variant__group {
  position: absolute;
  bottom: 32px;
  width: clamp(340px, 73%, 1117px);
  height: clamp(595px, 48vw, 908px);
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: repeat(6, 16%);
  gap: 5px;
  grid-template-areas:
                    "state   state    storage"
                    "state   state    storage"
                    "child   office   office"
                    "trading medical medical"
                    "kitchen kitchen  room"
                    "soft    soft     room";
}

@media screen and (min-width: 800px) {
  .variant__group {
    bottom: 64px;
    grid-template-columns: 0.7fr 0.7fr 1fr 1fr;
    grid-template-rows: repeat(4, 24%);
    gap: 12px;
    grid-template-areas:
                      "state   state   storage kitchen"
                      "state   state   storage soft"
                      "office  room    child   child"
                      "medical medical trading trading";
  }
}
.variant__card_type_state{
  grid-area: state;
}
.variant__card_type_storage{
  grid-area: storage;
}
.variant__card_type_child {
  grid-area: child;
}
.variant__card_type_office {
  grid-area: office;
}
.variant__card_type_trading {
  grid-area: trading;
}
.variant__card_type_medical {
  grid-area: medical;
}
.variant__card_type_kitchen {
  grid-area: kitchen;
}
.variant__card_type_room {
  grid-area: room;
}
.variant__card_type_soft {
  grid-area: soft;
}
