.production__video{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 29px;
  object-fit: cover;
}
@media screen and (min-width: 800px) {
  .production__video{
    height: 118%;
    top: 33px;
  }
}
