.footer__list{
  font-weight: 400;
  font-size: 14px;
  line-height: 236%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 13px 0 0 21px;
}
.footer__list a:hover, a:active{
  text-decoration-line: underline;
  color: #D7B56D;
}
.footer__list li:hover, li:active{
  display: flex;
  background: url(../../../images/menu_img.svg) no-repeat;
  background-position: center right;
  width: 60%;
}
