.lead__container {
  /* background: radial-gradient(116.93% 299.08% at -0.89% 106.52%, rgba(38, 38, 38, 0.3) 50.31%, rgba(255, 255, 255, 0.3) 100%);; */
  background-color: aqua;
  width: 91.5%;
  min-width: 330px;
  max-width: 1536px;
  min-height: 368px;
  max-height: 661px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

