.lead__scroll {
  display: flex;
  margin: 0 0 22px 95px;
}
.lead__scroll span{
  width: 27.6px;
  border-bottom: 2px solid #FFFFFF;
  margin-right: 3px;
}
.lead__scroll span:active{
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
