.lead__scroll {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0 3px;
  margin-bottom: 22px;
}
.lead__scroll span{
  width: clamp(27.6px, 3vw, 46px);
  border-bottom: 2px solid #FFFFFF;
}
.lead__scroll span:active{
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
